h1 {
  color: white;
  font-size: 80px;
  font-style: italic;
  text-align: right;
  padding: 30px 30% 2px 80px;
  font-family: 'Zilla Slab', serif;
}

body {
  margin: 0 20% 0 10%;
  font-size: 28px;
  font-family: 'Zilla Slab', serif;
  color: rgb(27, 27, 27);
}


.hlavicka {
  background-image: url(obrazky/hlavicka.png);
  margin: 50px 100px 0 0;
  padding: 0 150px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30%;
  }

a {
  color: white;
  font-style: italic;
}

.menu {
  margin: 0 100px 0 0;
  padding: 0;
  text-align: center;
  background-color: gray;
  }

.menu li {
  display:inline-block;
}

.menu a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 700;
  padding: 20px 30px;
  font-size: 36px; 
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: #636160;
}

.kontakt {
  color: black;
  font-size: 32px;
  text-align: right;
  font-weight: 600;
  padding: 0px 15% 50px 20px;
}

.udaje,
.praxe, 
.vzdelani,
.jazyk,
.ostatni {
  background-color: gray ;
  color: white;
  padding: 0%;
  font-style: italic;
  text-align: center;
  width: 15%;
  font-size: 35px;
}

h3 {
  font-size: 34px;
  padding: 5px 0 0 70px;
}

.duties {
  font-size: 24px;
  padding: 0 0 30px 130px;
  margin: 0;
}

li {
  line-height: 1.5;
  font-size: 29px;
}

h4 {
  font-size: 30px;
  padding: 5px 0 2px 150px;
  margin: 20px;
}

td {
  text-align: left;
  font-size: 30px;
  border-bottom: 1px solid black;
  padding: 15px 0 20px 0;
  line-height: 1.5;
}

tr {
  margin: 50px 0 10px 0;
}
.tytul {
  text-align: left;
  font-size: 32px;
  padding: 5px 0;
  border-bottom: none;
}

table {
  border-spacing: 0;
  padding: 0 0 0 30px;
}

.rok2 {
  text-align: left;
  padding: 10px 50px 0 30px;
  font-weight: 600;
}

.rok3 {
  text-align: left;
  padding: 10px 50px 0 30px;
 }

.rok {
  text-align: right;
  padding-left: 50px;
  font-weight: 500;
  font-size: 32px;
}

.ostatni {
  margin: 40px 0;
}



.paticka p {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 30px;
  font-style: italic;
  font-family: 'Zilla Slab', serif;
}